body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
  border: 1px solid #e1e3e3;
  border-collapse: collapse;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

tr:nth-child(2n) {
  background: rgb(237, 242, 246);
}

td {
  border: 1px solid #b0bfd6;
  min-width: 30px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  color: #27426c;
}

td[data-selected=true]{
  background-color: #dfedff;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.controls button {
  border: 1px solid #b0bfd6;
  background: transparent;
  color: #27426c;
  padding: 10px;
  font-size: 15px;
}

.controls button:first-child {
  margin-right: 15px;
}
